@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: #f7f5c4;
}

h1 {
  color: #5067a2;
  font-family: var(--font-inria_sans);
  font-size: 4em;
  font-weight: bolder;
  text-align: center;
}
h2 {
  color: black;
  font-family: var(--font-inria_serif);
  font-size: 2em;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
}
h3 {
  color: black;
  font-family: var(--font-inria_serif);
  font-size: 1.5em;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
}
p.intro {
  font-family: var(--font-inria_sans);
  font-size: x-large;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
